@media (max-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
    
}

@media (max-width: 767px){
    .container{
        max-width: 540px;
    }
    .header{
        &__offical{
            display: none;
        }
    }
    .advantages{
        &__wrapper{
            flex-direction: column;
        }
        &__item{
            margin: 40px auto;
        }
    }
}

@media (max-width: 575px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    .header{
        flex-direction: column;
        align-items: center;
        &__contacts{
            margin-top: 30px;
        }
        .button{
            margin-top: 17px;
        }
    }
    .promo{
        &__wrapper{
            align-items: center;
        }
        &__header{
            font-size: 30px;
            line-height: 33px;
            text-align: center;
        }
        &__subheader{
            font-size: 20px;
            text-align: center;
        }
        &__icons{
            max-width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__icon{
            padding-top: 29px;
        }
        .button{
            &_main{
                width: 208px;
                font-size: 14px;
            }
        }
    }
    .advantages{
        .title{
            font-size: 22px;
        }
        &__item{
            max-width: 100%;
        }
    }
    .consultation{
        .title{
            &_left{
                font-size: 22px;
                line-height: 30px;
            }
        }
        .form-request{
            width: 289px;
        }
        .button_submit{
            width: 290px;
        }
    }
}